.cpgpadiv{
    padding: 10px;
    margin-top: 180px;
    overflow-y: scroll;
    /* overflow: auto; */
    height: 450px;
    border: solid;
    
    border-width: 3px;;
    border-color: gray;
    background-color: #FFFAFA;
    border-style: outset;
}
@media screen and (max-width:650px) {
    .cpgpadiv{
    height: 430px;
    }
}
.cgpaCalci{
    display: flex;
    align-items: center;
    justify-content: space-around;
}